<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Cyberdom.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>16000</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9DBF378995B4B633963730BF909041A33EE1C292</string>
				<key>dateExpires</key>
				<string>24.01.24</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DBF378995B4B633963730BF909041A33EE1C292</string>
						<key>dateExpires</key>
						<string>24.01.24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8H9S2P4MV3</string>
						<key>name</key>
						<string>KIBERDOM, AO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DBF378995B4B633963730BF909041A33EE1C292</string>
						<key>dateExpires</key>
						<string>24.01.24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8H9S2P4MV3</string>
						<key>name</key>
						<string>KIBERDOM, AO</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DBF378995B4B633963730BF909041A33EE1C292</string>
						<key>dateExpires</key>
						<string>24.01.24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseABTesting.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8H9S2P4MV3</string>
						<key>name</key>
						<string>KIBERDOM, AO</string>
					</dict>
					<key>versionNumber</key>
					<string>10.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DBF378995B4B633963730BF909041A33EE1C292</string>
						<key>dateExpires</key>
						<string>24.01.24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8H9S2P4MV3</string>
						<key>name</key>
						<string>KIBERDOM, AO</string>
					</dict>
					<key>versionNumber</key>
					<string>10.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DBF378995B4B633963730BF909041A33EE1C292</string>
						<key>dateExpires</key>
						<string>24.01.24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8H9S2P4MV3</string>
						<key>name</key>
						<string>KIBERDOM, AO</string>
					</dict>
					<key>versionNumber</key>
					<string>10.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DBF378995B4B633963730BF909041A33EE1C292</string>
						<key>dateExpires</key>
						<string>24.01.24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8H9S2P4MV3</string>
						<key>name</key>
						<string>KIBERDOM, AO</string>
					</dict>
					<key>versionNumber</key>
					<string>10.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DBF378995B4B633963730BF909041A33EE1C292</string>
						<key>dateExpires</key>
						<string>24.01.24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8H9S2P4MV3</string>
						<key>name</key>
						<string>KIBERDOM, AO</string>
					</dict>
					<key>versionNumber</key>
					<string>10.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DBF378995B4B633963730BF909041A33EE1C292</string>
						<key>dateExpires</key>
						<string>24.01.24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8H9S2P4MV3</string>
						<key>name</key>
						<string>KIBERDOM, AO</string>
					</dict>
					<key>versionNumber</key>
					<string>10.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DBF378995B4B633963730BF909041A33EE1C292</string>
						<key>dateExpires</key>
						<string>24.01.24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FirebasePerformance.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8H9S2P4MV3</string>
						<key>name</key>
						<string>KIBERDOM, AO</string>
					</dict>
					<key>versionNumber</key>
					<string>10.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DBF378995B4B633963730BF909041A33EE1C292</string>
						<key>dateExpires</key>
						<string>24.01.24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseRemoteConfig.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8H9S2P4MV3</string>
						<key>name</key>
						<string>KIBERDOM, AO</string>
					</dict>
					<key>versionNumber</key>
					<string>10.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DBF378995B4B633963730BF909041A33EE1C292</string>
						<key>dateExpires</key>
						<string>24.01.24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8H9S2P4MV3</string>
						<key>name</key>
						<string>KIBERDOM, AO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DBF378995B4B633963730BF909041A33EE1C292</string>
						<key>dateExpires</key>
						<string>24.01.24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8H9S2P4MV3</string>
						<key>name</key>
						<string>KIBERDOM, AO</string>
					</dict>
					<key>versionNumber</key>
					<string>9.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DBF378995B4B633963730BF909041A33EE1C292</string>
						<key>dateExpires</key>
						<string>24.01.24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8H9S2P4MV3</string>
						<key>name</key>
						<string>KIBERDOM, AO</string>
					</dict>
					<key>versionNumber</key>
					<string>7.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DBF378995B4B633963730BF909041A33EE1C292</string>
						<key>dateExpires</key>
						<string>24.01.24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>flutter_native_splash.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8H9S2P4MV3</string>
						<key>name</key>
						<string>KIBERDOM, AO</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DBF378995B4B633963730BF909041A33EE1C292</string>
						<key>dateExpires</key>
						<string>24.01.24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>flutter_secure_storage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8H9S2P4MV3</string>
						<key>name</key>
						<string>KIBERDOM, AO</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DBF378995B4B633963730BF909041A33EE1C292</string>
						<key>dateExpires</key>
						<string>24.01.24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>image_editor_common.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8H9S2P4MV3</string>
						<key>name</key>
						<string>KIBERDOM, AO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DBF378995B4B633963730BF909041A33EE1C292</string>
						<key>dateExpires</key>
						<string>24.01.24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8H9S2P4MV3</string>
						<key>name</key>
						<string>KIBERDOM, AO</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DBF378995B4B633963730BF909041A33EE1C292</string>
						<key>dateExpires</key>
						<string>24.01.24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>kiberdom_flutter_cube.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8H9S2P4MV3</string>
						<key>name</key>
						<string>KIBERDOM, AO</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DBF378995B4B633963730BF909041A33EE1C292</string>
						<key>dateExpires</key>
						<string>24.01.24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>local_auth_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8H9S2P4MV3</string>
						<key>name</key>
						<string>KIBERDOM, AO</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DBF378995B4B633963730BF909041A33EE1C292</string>
						<key>dateExpires</key>
						<string>24.01.24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8H9S2P4MV3</string>
						<key>name</key>
						<string>KIBERDOM, AO</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DBF378995B4B633963730BF909041A33EE1C292</string>
						<key>dateExpires</key>
						<string>24.01.24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8H9S2P4MV3</string>
						<key>name</key>
						<string>KIBERDOM, AO</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DBF378995B4B633963730BF909041A33EE1C292</string>
						<key>dateExpires</key>
						<string>24.01.24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>share_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8H9S2P4MV3</string>
						<key>name</key>
						<string>KIBERDOM, AO</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DBF378995B4B633963730BF909041A33EE1C292</string>
						<key>dateExpires</key>
						<string>24.01.24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8H9S2P4MV3</string>
						<key>name</key>
						<string>KIBERDOM, AO</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DBF378995B4B633963730BF909041A33EE1C292</string>
						<key>dateExpires</key>
						<string>24.01.24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8H9S2P4MV3</string>
						<key>name</key>
						<string>KIBERDOM, AO</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DBF378995B4B633963730BF909041A33EE1C292</string>
						<key>dateExpires</key>
						<string>24.01.24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>vibration.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8H9S2P4MV3</string>
						<key>name</key>
						<string>KIBERDOM, AO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.7.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DBF378995B4B633963730BF909041A33EE1C292</string>
						<key>dateExpires</key>
						<string>24.01.24</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>workmanager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8H9S2P4MV3</string>
						<key>name</key>
						<string>KIBERDOM, AO</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>8H9S2P4MV3.com.cyberdom.dev</string>
				<key>com.apple.developer.team-identifier</key>
				<string>8H9S2P4MV3</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>07d8c6ef-c9ba-4c62-83ae-fd24812a0eff</string>
				<key>dateExpires</key>
				<string>02.02.24</string>
				<key>name</key>
				<string>com.cyberdom.dev Development</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>8H9S2P4MV3</string>
				<key>name</key>
				<string>KIBERDOM, AO</string>
			</dict>
			<key>versionNumber</key>
			<string>0.2.0</string>
		</dict>
	</array>
</dict>
</plist>
